$('#playerHand').append('<div class="card col-xs-3"> Ace </div>');
$('#dealerHand').append('<div class="card col-xs-3"> Ace </div>');
$('#playerHand').append('<div class="card col-xs-3"> Ace </div>');
$('#dealerHand').append('<div class="card col-xs-3"> Ace </div>');
