<div class="container">
  <div id="dealerHand" class="center-block">

  </div>
  <div class="tableMiddle">

  </div>

  <div id="playerHand" class="center-block">

  </div>
  <div class="actionPanel">
    <%= link_to "Deal", deal_path, class:"btn btn-danger", remote: true %>
  </div>

</div>
